.wd-second-column {
    background-color: white;
    padding-left: 6px;
    width: 195px;
    /* font-size: 0.8em; */
    font-family: Arial;
    /* margin-left: 20px; */
}

.wd-second-column>.wd-kanbas-second-column-selected a {
    color: black;
    /* margin-left: 5px; */
    padding-left: 8px;

}

.wd-second-column li {
    list-style-type: none;
    margin-bottom: 15px;
    text-align: left;
    width: 100%;
}

.wd-second-column > li > a {
    color: red;
    text-decoration: none;
}

.wd-flex-row-container {
    display: flex;
    flex-direction: row;
}

.wd-fixed-element {
    position: fixed;
}


.wd-black-margin {
    background-color: black;
    width: 2px;
    height: 20px;
    float: left;
    color: black;
    font-size: xx-small;
}
